<!DOCTYPE html>
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Pantomath</title>
    <style>
     body{
    background-color: #120130;
   }
   #hello{

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -470px;
   }
   #hi{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -0px;
  margin-left: -65px;
   }
    </style>
</head>
    <body>
    <nav class="N/A transparent ">
      <div class="nav-wrapper container ">
          <a href="" class="brand-logo white-text">Pantomath</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="" class="orange-text">About Team</a></li>
          <li><a href="" class="orange-text">Contact Us</a></li>
        </ul>
      </div>
    </nav>
    <div class="row container center-align " id="hello">
        <!--<h1 class="orange-text" style="font-family: cursive; font-size:10px;" >P</h1>-->
        <div class="icon-preview ">
            <i class=" large material-icons dp48 " style="color:#f56600 " >android</i>
            <span id="hi" style="color:#ffffff; font-family: cursive; ">Hi! I am Pantomath</span>
        </div>
    <!--<div class=" icon-preview">
        <i class="large material-icons dp48"  style="color:#ffffff">laptop_mac</i>
    </div>-->
    </div>
    








    <div class="container">

    </div>






    </body>
</head>
</html>